<!DOCTYPE html>
<html>
<head>
    <title>Item</title>
</head>
<body>
<div class = "container">
    <div class = "row m-3">
        <div class = "col-md-4 offset-md-8">
            <a href = "/landing"><button class = "btn btn-info d-inline-block">Home</button></a>
            <a href = "/logout"><button class = "btn btn-info d-inline-block">Logout</button></a>
        </div>
    </div>
    <h2>{{ Items.name }}</h2>

    <h3>Users who added this product/item under their wishlist:</h3>
    {% for user in joined %}
        <h4>{{user.name}}</h4>
    {% endfor %}


</div>
</body>
</html>
